//Fonts
$font-stack: 'Zilla Slab Highlight', cursive; 
$font-body: 'Ubuntu', sans-serif;

//Font size
$h1: 60px;
$h2: 42px;
$h3: 50px;
$input: 20px;
$button: 20px;
$p: 35px;
$li: 25px;
$flash: 15px;

